* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(../Settings/v1j1be6y44m91.jpg);
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 30%;
    height: 70%;
    border:1px solid white;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.3s ease-in-out;
}

@keyframes blur-animation {
    0% { box-shadow: 0 0 50px rgba(255, 255, 255, 0.137); }
    50% { box-shadow: 0 0 100px rgba(255, 255, 255, 0.137); }
    100% { box-shadow: 0 0 50px rgba(255, 255, 255, 0.137); }
}

img:hover {
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.137);
    cursor: pointer;
    animation: blur-animation 1.5s infinite;
}